body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  font-size: 32px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(85, 85, 85, 0.185);
  margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px 0 200px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.active-link {
  color: blue;
  cursor: default;
}
